@import "../variables/spacers.scss";

.m-1 {
  margin: $space-1;
}
.mt-1 {
  margin-top: $space-1;
}
.mr-1 {
  margin-right: $space-1;
}
.mb-1 {
  margin-bottom: $space-1;
}
.ml-1 {
  margin-left: $space-1;
}

.m-2 {
  margin: $space-2;
}
.mt-2 {
  margin-top: $space-2;
}
.mr-2 {
  margin-right: $space-2;
}
.mb-2 {
  margin-bottom: $space-2;
}
.ml-2 {
  margin-left: $space-2;
}

.m-3 {
  margin: $space-3;
}
.mt-3 {
  margin-top: $space-3;
}
.mr-3 {
  margin-right: $space-3;
}
.mb-3 {
  margin-bottom: $space-3;
}
.ml-3 {
  margin-left: $space-3;
}

.m-4 {
  margin: $space-4;
}
.mt-4 {
  margin-top: $space-4;
}
.mr-4 {
  margin-right: $space-4;
}
.mb-4 {
  margin-bottom: $space-4;
}
.ml-4 {
  margin-left: $space-4;
}

.m-5 {
  margin: $space-5;
}
.mt-5 {
  margin-top: $space-5;
}
.mr-5 {
  margin-right: $space-5;
}
.mb-5 {
  margin-bottom: $space-5;
}
.ml-5 {
  margin-left: $space-5;
}

.m-6 {
  margin: $space-6;
}
.mt-6 {
  margin-top: $space-6;
}
.mr-6 {
  margin-right: $space-6;
}
.mb-6 {
  margin-bottom: $space-6;
}
.ml-6 {
  margin-left: $space-6;
}

.m-8 {
  margin: $space-8;
}
.mt-8 {
  margin-top: $space-8;
}
.mr-8 {
  margin-right: $space-8;
}
.mb-8 {
  margin-bottom: $space-8;
}
.ml-8 {
  margin-left: $space-8;
}

.m-10 {
  margin: $space-10;
}
.mt-10 {
  margin-top: $space-10;
}
.mr-10 {
  margin-right: $space-10;
}
.mb-10 {
  margin-bottom: $space-10;
}
.ml-10 {
  margin-left: $space-10;
}

.m-12 {
  margin: $space-12;
}
.mt-12 {
  margin-top: $space-12;
}
.mr-12 {
  margin-right: $space-12;
}
.mb-12 {
  margin-bottom: $space-12;
}
.ml-12 {
  margin-left: $space-12;
}

.m-14 {
  margin: $space-14;
}
.mt-14 {
  margin-top: $space-14;
}
.mr-14 {
  margin-right: $space-14;
}
.mb-14 {
  margin-bottom: $space-14;
}
.ml-14 {
  margin-left: $space-14;
}

.m-16 {
  margin: $space-16;
}
.mt-16 {
  margin-top: $space-16;
}
.mr-16 {
  margin-right: $space-16;
}
.mb-16 {
  margin-bottom: $space-16;
}
.ml-16 {
  margin-left: $space-16;
}

.m-20 {
  margin: $space-20;
}
.mt-20 {
  margin-top: $space-20;
}
.mr-20 {
  margin-right: $space-20;
}
.mb-20 {
  margin-bottom: $space-20;
}
.ml-20 {
  margin-left: $space-20;
}

.m-24 {
  margin: $space-24;
}
.mt-24 {
  margin-top: $space-24;
}
.mr-24 {
  margin-right: $space-24;
}
.mb-24 {
  margin-bottom: $space-24;
}
.ml-24 {
  margin-left: $space-24;
}

.m-32 {
  margin: $space-32;
}
.mt-32 {
  margin-top: $space-32;
}
.mr-32 {
  margin-right: $space-32;
}
.mb-32 {
  margin-bottom: $space-32;
}
.ml-32 {
  margin-left: $space-32;
}
