@use "@pzh-temporary/style-library/src/scss/variables/colors.scss" as *;
@use "@pzh-temporary/style-library/src/scss/variables/spacers.scss" as *;
@use "@pzh-temporary/style-library/src/scss/variables/radii.scss" as *;
@use "@pzh-temporary/style-library/src/scss/mixins/typography.scss" as *;

$c: pzh-avatar;

.#{$c} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-gray-300;
  color: $color-gray-800;
  overflow: hidden;
  user-select: none;
}

.#{$c}__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.#{$c}__label {
  font-weight: 500;
  text-transform: uppercase;
}

.#{$c}__icon {
  display: block;
  color: inherit;
}

// Sizes
.#{$c}--size-small {
  width: 32px;
  height: 32px;

  .#{$c}__label {
    @include typography("text", "xs");
  }

  .#{$c}__icon {
    font-size: 14px;
  }
}

.#{$c}--size-medium {
  width: 40px;
  height: 40px;

  .#{$c}__label {
    @include typography("text", "s");
  }

  .#{$c}__icon {
    font-size: 18px;
  }
}

.#{$c}--size-large {
  width: 56px;
  height: 56px;

  .#{$c}__label {
    @include typography("text", "m");
  }

  .#{$c}__icon {
    font-size: 24px;
  }
}

.#{$c}--size-xlarge {
  width: 80px;
  height: 80px;

  .#{$c}__label {
    @include typography("text", "l");
  }

  .#{$c}__icon {
    font-size: 32px;
  }
}

// Shapes
.#{$c}--shape-square {
  border-radius: $radius-4;
}

.#{$c}--shape-circle {
  border-radius: 50%;
}
