@use "../variables/box-shadows.scss" as *;

@mixin levitate($level: 1) {
  @if ($level == 0) {
    box-shadow: $box-shadow-0;
  }

  @if ($level == 1) {
    box-shadow: $box-shadow-1;
  }

  @if ($level == 2) {
    box-shadow: $box-shadow-2;
  }
}
