// Categorie: Rood
$color-red-10: #FFEDF0;
$color-red-100: #eb7085;
$color-red-500: #d11f3d;
$color-red-900: #97162c;

// Categorie: Geel
$color-yellow-10: #FFF9E3;
$color-yellow-100: #f1db7e;
$color-yellow-500: #efcc36;
$color-yellow-900: #c6a410;

// Categorie: Blauw
$color-blue-10: #F2F7FC;
$color-blue-100: #7badde;
$color-blue-500: #281f6b;
$color-blue-900: #16113b;

// Categorie: Roze
$color-pink-100: #d76aac;
$color-pink-500: #aa0067;
$color-pink-900: #750047;

// Categorie: Oranje
$color-orange-100: #fba66a;
$color-orange-500: #ff6b02;
$color-orange-900: #b24a00;

// Categorie: Appelgroen
$color-apple-green-100: #add57d;
$color-apple-green-500: #76bc21;
$color-apple-green-900: #629623;

// Categorie: Paars
$color-purple-100: #9b99cc;
$color-purple-500: #503d90;
$color-purple-900: #32265a;

// Categorie: Warm grijs
$color-warm-gray-100: #beb1a7;
$color-warm-gray-500: #847062;
$color-warm-gray-900: #584b41;

// Categorie: Koel grijs
$color-cool-gray-100: #bfbfbf;
$color-cool-gray-500: #838383;
$color-cool-gray-900: #5c5c5c;

// Categorie: Groen
$color-green-10: #EDFAF0;
$color-green-100: #61b375;
$color-green-500: #00804d;
$color-green-900: #004d2e;

// Categorie: Grijstinten
$color-white: #ffffff;
$color-gray-100: #f8f8f8;
$color-gray-200: #e6e6e6;
$color-gray-300: #d5d5d5;
$color-gray-400: #bfbfbf;
$color-gray-500: #838383;
$color-gray-600: #5c5c5c;
$color-gray-700: #464646;
$color-gray-800: #222222;
$color-gray-900: #000000;
$color-black: #000000;

// Categorie: Semantiek
$color-positive: #00804d;
$color-negative: #d11f3d;
$color-neutral: #7badde;
$color-focus: #2360c5;
$color-visited: #5f29a2;